<h1>Introdução ao Angular!</h1>
<h3>O Angular é um framework incrível para desenvolver aplicações de uma única página eficientes e rápidas. <br> Não entendeu nada? Então aproveira esse tutorial que foi feito pensando em você!</h3>

<div class="row">

<mat-card class="example-card col-6">
  <mat-card-title>O que é o Angular?</mat-card-title>
  <mat-card-content>
    <p>Vem entendeer o sucesso do Angular!</p>    
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions class="text-center">
    <button mat-button color="primary"><a href="/conhecendo-angular">ACESSE</a></button>    
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<mat-card class="example-card col-6">
    <mat-card-title>Conceitos Essenciais</mat-card-title>
    <mat-card-content>
      <p>Termos mais utilizados e seu significado</p>    
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions class="text-center">
      <button mat-button color="primary"><a href="/conhecendo-angular">ACESSE</a></button>    
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

</div>

<div class="row">   

      <mat-card class="example-card col-6">
        <mat-card-title>Ambiente de desenvolvimento</mat-card-title>
        <mat-card-content>
          <p>Como criar sua primeira aplicação Angular</p>    
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions class="text-center">
          <button mat-button color="primary"><a href="/conhecendo-angular">ACESSE</a></button>    
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>

      <mat-card class="example-card col-6">
        <mat-card-title>Estrutura de uma Aplicação</mat-card-title>
        <mat-card-content>
          <p>Entenda cada arquivo da aplicação</p>    
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions class="text-center">
          <button mat-button color="primary"><a href="/conhecendo-angular">ACESSE</a></button>    
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
</div>


