.row{
    display: flex;
    justify-content: space-around;
}
.example-card {
    max-width: 400px;
    margin-top: 30px;
    
  }
  mat-card{
      padding: 30px;
  }
  mat-card-title{
      color: #0D47A1;
      text-align: center;
  }
  mat-card-content{
      text-align: center;
      margin: 20px;
  }
  a{
      color: black;
      font-size: 20px;
      text-decoration: none;
  }