<h1 class="text-center">Conhecendo o Angular</h1>

<div class="container">
    <mat-card>
        <mat-card-title>
            O que é o Angular?
        </mat-card-title>
        <mat-card-content>
            É uma plataforma de desenvolvimento que utiliza Typescript para criar aplicações web do tipo SPA (Single
            Page Applications). É um framework orientado a objetos, baseado em componentes e declarativos. Foi criado e
            mantido pelo Google e é um dos frameworks mais conhecidos e usados para desenvolvimento web.
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
            Vantagens de usar o Angular:
        </mat-card-title>
        <mat-card-content>
            <ul>
                <li>Framework baseado em componentes para construir aplicações web escaláveis</li>
                <li>Tem uma extensa coleção de bibliotecas com variedade de recursos como rotas, envio de formulários,
                    requisições HTTP por Ajax e mais. Tudo que é necessário para iniciar uma aplicação.</li>
                <li>No Angular você pode testar seu código durante seu desenvolvimento. </li>
                <li>Facilmente escalável: de um projeto individual a projetos de grandes corporações</li>
            </ul>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
            Conhecimentos básicos:
        </mat-card-title>
        <mat-card-content>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Programação Orientada a Objetos</li>
                <li>Conhecimento básico de TypeScript</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>